/*
Minkyeong Kim
CSE 154 AG
Assignment 1
*/


a, h1, h2 {
	color: #A4A400;
}

abbr {
	text-decoration: underline;
}

blockquote {
	background-color: #FFFFA8;
	font-style: italic;
}

body {
	background-attachment: fixed;
	background-image: url("https://webster.cs.washington.edu/images/silverware.jpg");
	background-repeat: repeat;
	color: #404040;
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
}

h1 {
	font-size: 22pt;
	text-align: center;
}

h1, h2 {
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	letter-spacing: 0.25em;
	text-decoration: underline;
}

h2 {
	font-size: 18pt;
	font-weight: normal;
}

ul {
	list-style-image: url("https://webster.cs.washington.edu/images/pie-icon.gif");
}